*{
  padding: 0;
  margin:0;
  border: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

.page{

  width: 1280px;
  margin:auto;
}
 
.section{
  border-bottom: 3px solid #CCCCCC;
  padding: 38px 105px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo{
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}
.logo__img{
  width: 55px;
  height: 55px;
  border-radius: 10px;
}

.logo__text{
  font-weight: 700;
  font-size: 24px;


}


.colum{
display: flex;
flex-wrap: wrap;
gap: 0px 56px;


}

.colum__cabecera{
  font-weight: 700;
  font-size: 28px;
  width: 100%;
  margin-bottom: 20px;
}

.logo__img--small{
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.logo__text{
  font-weight: 500;
  font-size: 24px;
}


/* / card principal/ */
.card{
  display: flex;
  flex-direction: column;
  gap: 20px;

}
.card__img{
  object-fit:cover;
  width:603px;
  height: 314px;
  border-radius: 20px;
  
}
.card__description{
  font-weight: 500;
  font-size: 24px;
}
/* / aside/ */
.card--aside{
flex-direction: row;
flex-wrap: wrap;


}
.card__group{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
width: 187px;

}

.card__img--img-aside{
  width:189px;
  height: 145px;
}
.card__date--text-aside{
  font-weight: 400;
  font-size: 16px;
}
.card__description--text-aside{
  font-weight: 700;
  font-size: 20px;
  
}

.colum__group{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;

}


.logo--logo-xs{
  gap:13px;
}

/* section2 */





.colum--populares{
  width: 700px;

  align-content: flex-start;
}

.colum--categorias{
  width: 300px;
  align-content: flex-start;
  
  
}

.card__img--pop{
  width: 298px;
height: 200px;
object-fit:cover;


}

.card-mini{
  width: 298px;
  gap: 0;
  margin-bottom: 40px;
  
  
}

.card__description--size{
  height:80px ;
  
}



.btn{
  color: #fff;
  display: flex;
  align-items: center;
  width: 298px;
height: 89px; 
  border-radius: 10px;
background: #E93E30;
justify-content:space-between;
 padding: 22px;
}

.btn__img{
  width: 85px;
height: 74px; 
object-fit: cover;
}
.btn__text{
  font-size: 32px;
font-weight: 700; 
}

.btn--js{
  background: #F7E018; 
}

.btn--css{
  background: #299ED5; 
}

.btn--react{
  background: #292C33;
}

.btn--vue{
  background: #67C770;  
}

.btn--bootstrap{
  background: #563D7C; 
}


/* / footer/ */
.footer{
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content:space-between;
  padding: 38px 105px;
  
}

.section__text-footer{
  font-weight: 400;
  font-size: 20px;
}



/* / logo xs/ */
.logo__img--xsmall{
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.logo__text--xsmall{
  font-weight: 400;
  font-size: 16px;
}
